#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    position: absolute;
    top: auto;
    left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

#sort-by {
    display: flex;
    justify-content: flex-start;
    gap: 12px;
    font-size: 1.5em;
}

#listbox-container {
    background-color: #901C1C;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    width: 150px;
    min-height: 50px;
    padding: 10px;
}

#listbox-current-option::after{
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 600;   
    content: "\f078";
    color: #FFF;
    margin-left: 20px;
}

#listbox {
    display: none;
}

.listbox-option {
    padding: 10px;
    border-bottom: 1px solid #FFF;
}

.gallery-section {
    display: flex;
    flex-wrap: wrap;
    row-gap: 95px;
    column-gap: 70px;
}

.gallery-section img {
    width: 350px;
    height: 300px;
    border-radius: 5px;
}

.media-caption {
    display: flex;
    justify-content: space-between;
    color: #901C1C;
    font-size: 2em;
}