#contact_modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 110vh;
    height: 100vh;
    background-color: #FFF;
    z-index: 10;
    justify-content: center;
    align-items: center;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    text-align: center;
    border-radius: 5px;
    background-color: #DB8876;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

form #submit-form {
    text-align: center;
    display: inline-block;
    width: 170px;
    height: 69px;
}

#sort-by {
    display: flex;
    justify-content: flex-start;
    gap: 12px;
    font-size: 1.5em;
}

#listbox-container {
    background-color: #901C1C;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    width: 150px;
    min-height: 50px;
    padding: 10px;
}

option {
    padding: 10px;
    border-bottom: 1px solid #FFF;
}

.gallery-section {
    display: flex;
    flex-wrap: wrap;
    row-gap: 95px;
    column-gap: 70px;
}

.gallery-section img {
    width: 350px;
    height: 300px;
    border-radius: 5px;
}

.media-caption {
    display: flex;
    justify-content: space-between;
    color: #901C1C;
    font-size: 2em;
}

.photographer-info {
    position: fixed;
    bottom: 0;
    right: 50px;
    width: 376px;
    height: 89px;
    background-color: #DB8876;
    border-radius: 5px;
    font-size: 2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}