@import url("photographer.css");

* {
    box-sizing: border-box;
}

body {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    margin: 0;
    padding-left: 100px;
    padding-right: 100px;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    margin-top: 42px;
}

h1 {
    color: #901C1C;
}

.logo {
    height: 50px;
}

.photographer_section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 150px;
    margin-top: 60px;
    padding: 0;
}

.photographer_section article {
    width: 300px;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 32px;
    padding-top: 32px;
    transition: all .2s;
    box-shadow: none;
    border-radius: 5px;
}

.photographer_section article:hover {
    box-shadow: 2px 2px 4px rgba(145, 29, 29, 0.233);
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 2.2em;
    margin-bottom: 0;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.photographer_section .location {
    margin: 0;
    color: #901C1C;
    font-size: 0.8em;
}

.photographer_section .tagline {
    font-size: 0.65em;
    margin: .5em;
}

.photographer_section .price {
    color: #757575;
    font-size: .5em;
}